<div *ngIf="project">
  <div class="headline-wrapper">
    <h1>{{ project.name }}</h1>

    <div class="icon-wrapper">
      <button mat-icon-button>
        <mat-icon (click)="edit()" color="primary">edit</mat-icon>
      </button>

      <button mat-icon-button>
        <mat-icon (click)="addToCalendar()" color="primary">event</mat-icon>
      </button>

      <button mat-icon-button>
        <mat-icon (click)="delete()" color="accent">delete</mat-icon>
      </button>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="column">
      <div class="icon-row">
        <mat-icon color="primary">business</mat-icon>
        <span>{{ project.company.name }}</span>
      </div>
      <div class="icon-row">
        <mat-icon color="primary">date_range</mat-icon>
        <span>{{ project.startTime | date: 'dd.MM.yyyy' }} - {{ project.endTime | date: 'dd.MM.yyyy' }}</span>
      </div>

      <p>{{ project.description }}</p>
    </div>

    <div *ngIf="members" class="column">
      <div *ngFor="let m of members" class="member icon-row">
        <mat-icon color="primary">account_circle</mat-icon>
        <span>{{ m.firstName }} {{ m.lastName }}</span>
      </div>
    </div>

    <div *ngIf="!members || members?.length === 0" class="column">
      <mat-error>No members assigned yet</mat-error>
    </div>
  </div>
</div>
