<div *ngIf="vacancy" class="content-wrapper">
  <div class="headline-wrapper">
    <h2>{{ vacancy.title }}</h2>

    <div class="icon-wrapper">
      <button mat-icon-button>
        <mat-icon color="primary">edit</mat-icon>
      </button>

      <button mat-icon-button>
        <mat-icon (click)="delete(vacancy)" color="primary">delete</mat-icon>
      </button>
    </div>

  </div>

  <div class="column-1">
    <div>
      <mat-icon color="accent">business</mat-icon>
      <span>{{ vacancy.company.name }}</span>
    </div>

    <div>
      <mat-icon color="accent">date_range</mat-icon>
      <span>{{ vacancy.deadline | date : 'dd.MM.yyyy' }}</span>
    </div>

    <p>{{ vacancy.description }}</p>
  </div>

  <div class="column-2">
    <h3>Applicants</h3>
    <mat-error *ngIf="!applicants || applicants.length === 0">No applicants found for this vacancy</mat-error>
    <div *ngFor="let a of applicants" class="applicant">
      <mat-icon color="primary">account_circle</mat-icon>
      <span>{{ a.firstName }} {{ a.lastName }}</span>

      <div>
        <button (click)="accept(a)" mat-icon-button>
          <mat-icon color="primary">check</mat-icon>
        </button>

        <button (click)="decline(a)" mat-icon-button>
          <mat-icon color="warn">close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
