@font-face {
  font-family: 'Manrope-Regular';
  src: url('./manrope-regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope-Bold';
  src: url('./manrope-bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope-Medium';
  src: url('./manrope-medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope-Light';
  src: url('./manrope-light.otf');
  font-weight: normal;
  font-style: normal;
}
