<h2>My Projects</h2>

<div *ngIf="sortedProjects">
  <mat-list>
    <mat-hint>Active</mat-hint>
    <mat-list-item *ngFor="let p of sortedProjects.active"
                   routerLink="/projects/{{ p.id }}">{{ p.name }}</mat-list-item>

    <mat-hint>Scheduled</mat-hint>
    <mat-list-item *ngFor="let p of sortedProjects.scheduled"
                   routerLink="/projects/{{ p.id }}">{{ p.name }}</mat-list-item>

    <mat-hint>Inactive</mat-hint>
    <mat-list-item *ngFor="let p of sortedProjects.inactive"
                   routerLink="/projects/{{ p.id }}">{{ p.name }}</mat-list-item>

    <mat-divider *ngIf="isUserCompany()"></mat-divider>

    <mat-list-item *ngIf="isUserCompany()" class="createProjectLink" routerLink="/projects/new">
      <mat-icon>add</mat-icon>
      <span>New Project</span>
    </mat-list-item>
  </mat-list>
</div>
