:host {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

mat-list-item {
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: color 150ms ease-in-out;

  &:hover {
    color: var(--primary-color);
  }
}
