<header>
  <img src="/assets/images/logo.svg" alt="Logo">

  <h1>DirectorsView</h1>
</header>

<form (ngSubmit)="submit()" [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>E-Mail Address</mat-label>
    <input matInput placeholder="Email" type="email" name="email" formControlName="email">

    <mat-error *ngIf="formGroup.get('email')?.hasError('required')">E-Mail must not be empty</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput placeholder="Password" type="password" name="password" formControlName="password">

    <mat-error *ngIf="formGroup.get('password')?.hasError('required')">Password must not be empty</mat-error>
  </mat-form-field>

  <div class="button-wrapper">
    <button mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!formGroup.valid">
      Sign in
    </button>
  </div>
</form>

<mat-error *ngIf="responseMessage">{{  responseMessage }}</mat-error>

<p>No Account? <a routerLink="/signup" class="link">Register now!</a></p>
